### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#per module virtualenv
*_env/ 

# Cython debug symbols
cython_debug/

### Datasets ###
# Ignore all datasets
datasets/


### Tools ###
# Ignore all tools used in the project (external tools, etc.)
tools/


### Development ###
# Ignore all development related files (IDE configs, etc.)
development/

## VSCODE ##
.vscode/


### Large TTS Module ###
# Ignore the large TTS module
tts-engine/

## Model Checkpoints ##
# Ignore all model checkpoints
model/run/
model/models.zip

## NPM ##
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
package-lock.json