dateparser==1.2.0
docopt==0.6.2
grpcio==1.68.0
grpcio-tools==1.68.0
num2words==0.5.13
protobuf==5.29.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
regex==2024.11.6
setuptools==75.6.0
six==1.16.0
tomli==2.2.1
tzlocal==5.2
